---
import Features2 from '~/components/widgets/Features2.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Image from '~/components/common/Image.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1530036846422-afb4b7af2fd4?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'About us banner',
    }}
  >
    <Fragment slot="title">
      Questioning Limits,  <br />
      <span class="text-accent dark:text-white highlight"> Defining Digital.</span>
    </Fragment>

    <Fragment slot="subtitle">
    Transform your digital presence with our comprehensive suite of tailored services. From web application
      development and mobile app creation to strategic digital marketing campaigns, our team crafts customized solutions
      that prioritize scalability, user-centric design, and cutting-edge technologies. We ensure impeccable quality
      through rigorous quality assurance processes, and our UI/UX design expertise enhances user engagement. With
      technical consultation services, we provide expert guidance to optimize your technological infrastructure. Elevate
      your online presence and achieve impactful results with our holistic and innovative approach to digital solutions.
    </Fragment>
  </Hero2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '3' },
      { title: 'Employees', amount: '27' },
      { title: 'Years', amount: '5' },
      { title: 'Projects', amount: '30+' },
    ]}
  />

  <!-- Features3 Widget ************** -->
  <div class="relative mx-auto max-w-7xl px-4 md:px-6 py-6 md:py-6 lg:py-10 text-default pt-0 md:pt-0 lg:pt-0">
    <div aria-hidden="true" class="aspect-w-16 aspect-h-7">
      <div class="w-full h-80 object-cover rounded-xl mx-auto bg-gray-500 shadow-lg">
        <Image
          class="w-full h-80 object-cover object-bottom-important rounded-xl mx-auto bg-gray-500 shadow-lg"
          width="auto"
          widths={[400, 768]}
          style="object-position: bottom"
          {...{
            src: 'https://images.unsplash.com/photo-1606857521015-7f9fcf423740?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
            alt: 'Image of people working in a workplace',
          } as any}
        />
      </div>
    </div>
  </div>


  <Features2
    title="Our Locations ðŸ“"
    tagline="Find us"
    columns={3}
    items={[
      {
        title: 'United Kingdom  ðŸ‡¬ðŸ‡§',
        description: '211 Watson Court,Stadium Way,Watford ,Wd180fa',
      },
      {
        title: 'Australia  ðŸ‡¦ðŸ‡º',
        description: '5678 Lorem Ipsum St,56789,Madrid',
      },
      {
        title: 'Sri Lanka ðŸ‡±ðŸ‡°',
        description: '2nd Floor,275 Nawala Road,Sri Jayawardenepura Kotte,10250',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->
  <Features2
    columns={3}
    title="Shaping Tomorrow's Digital Landscape"
    subtitle="Our vision is rooted in a commitment to excellence, and our values reflect a dedication to shaping tomorrow's digital landscape."
    tagline="Vision & Values"
    items={[
      {
        title: 'Elevating Our Competitive Edge',
        description:
          'Value as our Competitive Advantage: In a dynamic and competitive world, our commitment to delivering unparalleled value sets us apart. We anticipate our clients to demand nothing less than the best, and we exceed those expectations.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Embracing Change for Progress',
        description:
          "Change Propels Our Momentum: In our realm, change isn't just a constant; it's an opportunity to surge forward. We embrace change as the driving force behind progress, ensuring our journey is marked by continuous evolution and improvement.",
        icon: 'flat-color-icons:line-chart',
      },
      {
        title: 'A Commitment to Excellence',
        description:
          'Innovation in Everything: At the core of our ethos lies an unwavering commitment to innovation. We thrive on the challenge of infusing creativity into every aspect of our work, promising our customers not just quality but constant innovation.',
        icon: 'flat-color-icons:serial-tasks',
      },
      {
        title: 'Zero Tolerance for Waste',
        description:
          "Efficiency as a Standard: Waste has no place in our operations. If we can't deliver, we're upfront about it. Our commitment to efficiency ensures that every effort is purposeful, aligning with our goal to deliver results without unnecessary waste.",
        icon: 'flat-color-icons:reuse',
      },
      {
        title: 'Transparency and Honesty',
        description:
          "Honesty in Communication: Open communication is the foundation of trust. If we can't do it, we won't sugarcoat it. Transparency and honesty guide our interactions, building trust with our clients and partners.",
        icon: 'flat-color-icons:diploma-1',
      },
      {
        title: 'Client-Centric Approach',
        description:
          "Client Expectations as our Compass: Our compass is set by the expectations of our clients. We don't just meet their needs; we anticipate them, ensuring that our services and solutions align with their evolving requirements.",
        icon: 'flat-color-icons:portrait-mode',
      },
      {
        title: 'Continuous Learning',
        description:
          'Growth through Learning: In our journey, stagnation is the enemy. We foster a culture of continuous learning, where each challenge is an opportunity to acquire new skills and knowledge, propelling our collective growth.',
        icon: 'flat-color-icons:binoculars',
      },
      {
        title: 'Team Synergy',
        description:
          "Collaboration for Success: We believe in the strength of collaboration. Our diverse team comes together with a shared commitment to excellence, leveraging each other's strengths to achieve success collectively.",
        icon: 'flat-color-icons:workflow',
      },
      {
        title: 'Benchmarking Excellence',
        description:
          "Measuring against the Best: Our standards are not just internal benchmarks; they're global. We measure ourselves against world-class standards, ensuring that our pursuit of excellence is aligned with the best in the world.",
        icon: 'flat-color-icons:rating',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Tell us your story',
      href: '/contact',
    }]}
    title="Feeling inspired?"
    subtitle="Transform your projects, whether in business, design, or education, with our exceptional services. Ready to elevate your business? Contact us now to get started!    "
  />
</Layout>
