---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="Our Services"
    image={{
      src: 'https://res.cloudinary.com/quadrate/image/upload/v1706814339/pngegg_wltink.png',
      alt: 'Our Services',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight"> Tailored services</span>
    </Fragment>

    <Fragment slot="subtitle">
      Revitalize your digital landscape with our tailored suite of services. From web and mobile app development 
      to strategic digital marketing, we specialize in scalable solutions, user-centric design, and cutting-edge technologies. 
      Our commitment to impeccable quality is reinforced through rigorous QA processes, while our UI/UX expertise enhances user engagement. 
      With technical consultation services, we offer expert guidance to optimize your technological infrastructure. 
      Elevate your online presence and achieve impactful results through our holistic and innovative digital solutions
    </Fragment>
  </Hero2>
  <!-- Features2 Widget ************** -->

  <Features2
    title="Service Beyond Standards | Elevating Your Software Experience"
    subtitle="Where Projects Thrive, Turning Ideas into Impeccable Software Solutions"
    columns={3}
    items={[
      {
        title: 'Web Application Development',
        description:
          'From planning to implementation, we create customized, scalable applications that leverage a variety of technologies and skilled coding to deliver creative, user-friendly solutions.',
        icon: 'tabler:world-www',
      },
      {
        title: 'Mobile App Development',
        description:
          'Design and build custom, user-centric applications with us for various platforms, ensuring seamless functionality, intuitive interfaces, and integrate cutting-edge technologies for optimal user experiences.',
        icon: 'tabler:device-mobile-code',
      },
      {
        title: 'Digital Marketing',
        description:
          'We craft strategic digital marketing campaigns, leveraging data-driven insights and creative expertise to drive brand growth, engagement, and conversions across diverse online channels for impactful results.',
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Quality Assurance',
        description:
          'Our Quality Assurance services meticulously test and validate software, ensuring impeccable functionality, performance, and reliability. We employ rigorous methodologies to guarantee optimal user experiences and product excellence.',
        icon: 'tabler:zoom-code',
      },
      {
        title: 'UI/UX Designing',
        description:
          'We specialize in creating intuitive and visually appealing interfaces that improve user engagement. Our UI/UX services blend design and functionality for seamless, engaging, and delightful digital interactions.',
        icon: 'tabler:devices',
      },
      {
        title: 'Technical Consultation',
        description:
          'Our Technical Consultation services offer expert guidance and solutions tailored to your needs. We provide insightful advice, strategic planning, and innovative approaches to optimize your technological infrastructure.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Customized Developments',
        description:
          'Tailoring software solutions to meet unique business needs.',
        icon: 'tabler:wand',
      },
      {
        title: 'Scalability',
        description:
          'Designing applications that can grow with your business demands.',
        icon: 'tabler:settings',
      },
      {
        title: 'User-Centric Design',
        description:
          'Prioritizing intuitive and engaging user interfaces for enhanced user experience.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Cutting-Edge Technologies',
        description:
          'Utilizing the latest technologies to ensure modern and efficient solutions.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Increased Efficiency',
        description:
          'Streamlining processes and workflows through custom software solutions leads to enhanced operational efficiency.',
        icon: 'tabler:clock',
      },
      {
        title: 'Cost Savings',
        description:
          'Tailored software can automate tasks, reducing the need for manual intervention and minimizing operational costs.',
        icon: 'tabler:coin',
      },
      {
        title: 'Enhanced User Experience',
        description:
          ' User-centric design improves satisfaction, leading to increased customer loyalty and positive brand perception.',
        icon: 'tabler:ux-circle',
      },
      {
        title: 'Improved Collaboration',
        description:
          'Collaborative features in software enhance communication and teamwork among employees.',
        icon: 'tabler:users-group',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from Real Customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}

  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Tell us your story',
      href: '/contact',
    }]}
    title="Feeling inspired?"
    subtitle="Transform your projects, whether in business, design, or education, with our exceptional services. Ready to elevate your business? Contact us now to get started!    "
  />
</Layout>
